.sidebar{
    position: fixed;
    height: 100%;
    background-color: var(--clr-dark-gray);
}

.menuButton{
    padding: 18px;
    cursor: pointer;
}

.button-active{
    background-color: var(--clr-gray);
}