@font-face {
  font-family: "AC Line";   
  src: local("ACLine"),
    url("./fonts/ACLine.otf") format("opentype");
}

:root{
  --clr-light-gray: #D9D9D9;
  --clr-gray: #333337;
  --clr-dark-gray: #262629;
  --clr-dark-bg: #1E1E20;
  --clr-blue: #3689D7;
  --clr-white: #fff;


  --font-logo: 400 64px 'AC Line', sans-serif;
  --font-header: 400 44px 'League Spartan', sans-serif;
  --font-header-small: 400 40px 'League Spartan', sans-serif;
  --font-text: 400 36px 'League Spartan', sans-serif;
  --font-table-head: 600 48px 'League Spartan', sans-serif;
  --font-table: 400 48px 'League Spartan', sans-serif;
  --font-control-button: 400 44px 'League Spartan', sans-serif;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
